/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(0,255,00,.75);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(25,25,25);
}
.intro{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.follow_up{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{

  animation: typewriter 0.83333333333s steps(44) 1s 1 normal both,
             blinkTextCursor_follow 500ms steps(44) 5;
  animation-fill-mode: both;
  animation-delay: .4s,.4s,3s;
}

.anim-typewriter_follow{

  animation: typewriter_follow 0.83333333333s steps(44) 1s 1 normal both,
             blinkTextCursor_follow 500ms steps(44) 5;
  animation-fill-mode: both;
  animation-delay: 3.4s,3.4s;
}


@keyframes typewriter{
  from{width: 0;}
  to{width: 5em;}
}

@keyframes typewriter_follow{
  from{width: 0;}
  to{width: 7.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent; display: none}
}

@keyframes blinkTextCursor_follow{
  0%{border-right-color: transparent; display: none}
  1%{border-right-color: rgba(255,255,255,.75);}
  100%{border-right-color: transparent; display: none}
}



@keyframes fadeOut {
   0% {opacity: 1;}
   50% {opacity: .5;}
   100% {opacity: 0;}
}
